<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Axie Deck Tracker</h1>
        <p class="lead">Lorem ipsum</p>
        <button class="btn btn-lg btn-info " type="submit" (click)="loadAxieParts()">Submit</button>
    </div>
    <br>
    <div class="bg-light p-5 rounded">
        <div class="container">
            <form id="create_axie_team" [formGroup]="axieForm" (ngSubmit)="onSubmitAxieForm()">
                <div class="form-group">
                    <label for="formControlName">Team Name</label>
                    <input class="form-control" id="formControlName" formControlName="name" rows="3">
                </div>
                <div class="form-group">
                    <label for="formControlOwner">Owner</label>
                    <input class="form-control" id="formControlOwner" formControlName="owner" rows="3">
                </div>
                <br>
                <div class="container axie-modal" id="axieOne">
                    <h3>Axie one</h3>
                    <label for="axieTypeOne">Axie type</label>
                    <select class="form-control" formControlName="axieTypeOne">
                        <option *ngFor="let type of axieTypes; index as i; first as isFirst" value={{i}}>{{type.label}}</option>
                    </select>
                    <div class="container row" id="axiePartsOne">
                        <div class="col">
                            <label for="axieHornOne">Horn</label>
                            <select class="form-control" formControlName="axieHornOne">
                                <option *ngFor="let card of axieHornCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieMouthOne">Mouth</label>
                            <select class="form-control" formControlName="axieMouthOne">
                                <option *ngFor="let card of axieMouthCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieBackOne">Back</label>
                            <select class="form-control" formControlName="axieBackOne">
                                <option *ngFor="let card of axieBackCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieTailOne">Tail</label>
                            <select class="form-control" formControlName="axieTailOne">
                                <option *ngFor="let card of axieTailCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container axie-modal" id="axieTwo">
                    <h3>Axie two</h3>
                    <label for="axieTypeTwo">Axie type</label>
                    <select class="form-control" formControlName="axieTypeTwo">
                        <option *ngFor="let type of axieTypes; index as i; first as isFirst" value={{i}}>{{type.label}}</option>
                    </select>
                    <div class="container row" id="axiePartsTwo">
                        <div class="col">
                            <label for="axieHornTwo">Horn</label>
                            <select class="form-control" formControlName="axieHornTwo">
                                <option *ngFor="let card of axieHornCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieMouthTwo">Mouth</label>
                            <select class="form-control" formControlName="axieMouthTwo">
                                <option *ngFor="let card of axieMouthCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieBackTwo">Back</label>
                            <select class="form-control" formControlName="axieBackTwo">
                                <option *ngFor="let card of axieBackCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieTailTwo">Tail</label>
                            <select class="form-control" formControlName="axieTailTwo">
                                <option *ngFor="let card of axieTailCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container axie-modal" id="axieThree">
                    <h3>Axie three</h3>
                    <label for="axieTypeThree">Axie type</label>
                    <select class="form-control" formControlName="axieTypeThree">
                        <option *ngFor="let type of axieTypes; index as i; first as isFirst" value={{i}}>{{type.label}}</option>
                    </select>
                    <div class="container row" id="axiePartsThree">
                        <div class="col">
                            <label for="axieHornThree">Horn</label>
                            <select class="form-control" formControlName="axieHornThree">
                                <option *ngFor="let card of axieHornCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieMouthThree">Mouth</label>
                            <select class="form-control" formControlName="axieMouthThree">
                                <option *ngFor="let card of axieMouthCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieBackThree">Back</label>
                            <select class="form-control" formControlName="axieBackThree">
                                <option *ngFor="let card of axieBackCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="axieTailThree">Tail</label>
                            <select class="form-control" formControlName="axieTailThree">
                                <option *ngFor="let card of axieTailCards; index as i; first as isFirst" value={{i}}>{{card.skillName}} - {{card.partName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-lg btn-success " type="submit" [disabled]="!axieForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>