<div class="container">
  <div class="bg-dark p-5 rounded">
    <h1>Config PVU</h1>
    <div class="row">
      <input type="text" id="load_form_input" class="col-5" #jsonInputPlants>
    </div>
    <br>
    <div class="row">
      <button class="btn btn-outline-success btn-dark col-3 " (click)="addJsonPlants(jsonInputPlants.value)" >Submit</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="bg-dark p-5 rounded">
    <h1>Config Axie Card List</h1>
    <div class="row">
      <input type="text" id="load_form_input" class="col-5" #jsonInputAxie>
    </div>
    <br>
    <div class="row">
      <button class="btn btn-outline-success btn-dark col-3 " (click)="addJsonAxie(jsonInputAxie.value)" >Submit</button>
    </div>
  </div>
</div>