<div class="container">
  <div class="bg-light p-5 rounded">
    <h1>PVU Plants</h1>
    <p class="lead">This is the list of plants for the NFT game PVU</p>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">PlantId</th>
            <th scope="col">Restart</th>
            <th scope="col">Page</th>
            <th scope="col">Land</th>
            <th scope="col">Plant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plant of plants; index as i; first as isFirst">
            <th scope="row">{{plant.plant_id}}</th>
            <td>{{plant.hour}}:{{plant.minute}}:{{plant.second}}</td>
            <td>{{plant.page}}</td>
            <td><a class="btn btn-small btn-info" (click)="goToFarm(plant.owner_id)">Go to land</a></td>
            <td><a class="btn btn-small btn-info" (click)="goToPlant(plant.id)">Go to Plant</a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>