/* You can add global styles to this file, and also import other style files */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.axie-modal{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
}